header{
    position: sticky;
    top: 0;
    padding: 30px 180px;
    background-color: white;
    z-index: 100;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    height: 28px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #525252;
}
nav ul li a:hover{
    cursor: pointer;
    color: #F69173;
}
.download-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius:16777200px ;
    background-color:#F69173;
    padding: 10px 14px;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 6px 2px 16px #88A5BF7A, -6px -2px 16px #FFFFFFCC;
}
.download-button img{
    width: 16px;
}
nav .menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 200;
}
nav .menu  span{
    border-radius: 20px;
    width: 25px;
    border: 2px solid black;
    transition: 0.4s;
}
@media (max-width:600px) {
    
    header{
    padding: 30px 30px;
}
nav{
    position: relative;
    align-items: center;

}
nav img{
    width: 110px;
    height: 28px;
}
nav ul{
    position: absolute;
    top: -30px;
    right: -100vw;
    width: 70vw;
    max-width: 320px;
    height: 100vh;
    background: #fff;
    margin: 0;
    padding: 100px 22px 28px 22px;
    flex-direction: column;
    gap: 26px;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: -2px 0 18px rgba(70,80,100,0.13);
    transition: right 0.4s ease;
    z-index: 120;
}nav .menu{
    display: flex;
}
nav ul.open{
    display: flex;
    gap: 40px;
    right: -30px;
}


.download-button{
    gap: 3px;
    padding: 4px 8px;
    font-size: 10px;
    box-shadow: 3px 1px 10px #88A5BF7A, -8px -3px 10px #FFFFFFCC;
}
.download-button img{
    width: 12px;
}
.header-right{
    display: flex;
    gap: 12px;
}

}