.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeBG 0.25s ease-out;
}

.modal {
  max-height: 100vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 22px;
  padding: 26px;
  animation: popIn 0.25s ease-out;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.12);
}


.closeBtn {
  float: right;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

.closeBtn:hover {
  opacity: 1;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 14px 0;
  color: #1a1a1a;
}

.amountBtn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 14px;
}

.button {
  flex: 1;
  padding: 12px 0;
  border-radius: 12px;
  background: #eef1f3;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  transition: 0.25s ease;
  padding: 10px;
}

.button:hover {
  background: #ffe6df;
  border-color: #F69173;
}

.active {
  background: #F69173;
  color: #fff;
  border-color: #F69173;
}

.active:hover{
  background: #F69173;
  color: #fff;
  border-color: #F69173;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 18px 0;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 12px;
}

.inputRow input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  
}

.inputRow input[type="number"]::-webkit-inner-spin-button,
.inputRow input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputRow input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; 
}
.inputRow select{
  border: none;
  background-color: transparent;
}
.inputRow select option{
  border: none;
}
.toggleRow {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 16px;
  font-size: 14px;
}

.toggle {
  position: relative;
  width: 44px;
  height: 24px;
}

.toggle input { display: none; }

.togglebar {
  position: absolute;
  inset: 0;
  background: #bbb;
  border-radius: 24px;
  transition: 0.3s;
}

.togglebar::before {
  content: "";
  width: 22px;
  height: 22px;
  border: 1px solid #bbb;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}

.toggle input:checked + .togglebar {
  background: #F69173;
}

.toggle input:checked + .togglebar::before {
  transform: translateX(20px);
}
.submitBtn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #F69173;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s ease;
}

.submitBtn:hover {
  background: #e57d5f;
}

.powered {
  text-align: center;
  font-size: 12px;
  margin-top: 12px;
  opacity: 0.65;
}

@keyframes popIn {
  from { opacity: 0; transform: scale(0.95) translateY(10px); }
  to { opacity: 1; transform: scale(1) translateY(0); }
}

@keyframes fadeBG {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 450px) {
  .modal {
    width: 80%;
    padding: 20px;
  }
}
