footer{
    background: #171717;
    padding: 64px 90px 64px 90px;
}
.footer-top{
    display: flex;
    flex-wrap: wrap;
    gap: 155px;
}
.sec1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    gap: 17px;
}
.sec2{
    flex: 1;
}
.sec3{
    flex: 1;
}
.sec4{
    flex: 1;
}
footer img{
    width: 150px;
    height: 28px;
}
.sec1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #A1A1A1;
    line-height: 24px;
}

.quicklink-title{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 40px;
}
footer ul{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #A1A1A1;
    line-height: 35px;
}
.footer-bottom{
    margin-top: 48px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #262626;
}
.footer-bottom p{
    font-size: 14px;
    font-weight: 400;
    color: #737373;
}
.footer-bottom span{
    color: #FF9B85;
}
.footer-top ul li a:hover{
    cursor: pointer;
    color: #FF9B85;
}
.updates-popup {
  position: fixed;
  top: 25px; 
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  color: #fff;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 0.95rem;
  opacity: 0;
  animation: fadeInOut 1.75s ease forwards;
  z-index: 9999;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform:translateX(-50%) translateY(-10px); }
  20% { opacity: 1; transform:translateX(-50%) translateY(0); }
  65% { opacity: 1; transform:translateX(-50%);}
  100% { opacity: 0; transform:translateX(-50%) scale(1.1); }
}

@media (max-width:700px) {
    footer{
    padding:40px 30px;
}
.footer-top{
    gap: 30px;
}
.sec1{
    flex: 1;
    gap: 17px;
}
.sec2{
    flex: 1;
}
.sec3{
    flex: 1;
}
.sec4{
    flex: 1;
}
footer img{
    width: 120px;
    height: 28px;
}
.sec1 p{
    font-size: 14px;
    line-height: 24px;
}
.quicklink-title{
    font-size: 14px;
}
footer ul{
    font-size: 13px;
}
.footer-bottom{
    flex-direction: column;
    gap: 5px;
    margin-top: 25px;
    padding: 16px 0;
    display: flex;
}
.footer-bottom p{
    font-size: 11px;
    color: #737373;
}   
.updates-popup {
    top: 12%;
    padding: 8px 12px;
    font-size: 0.75rem;
    opacity: 0;
    animation: fadeInOut 1.75s ease forwards;
    z-index: 9999;
} 
}


@media (min-width: 701px) and (max-width: 1024px) {
footer {
    padding: 60px 70px 60px 70px;
}
.footer-top {
    gap: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1 img {
    width: 140px;
    height: 28px;
}
.sec1 p {
    font-size: 15px;
    line-height: 24px;
}
.quicklink-title {
    font-size: 15px;
    line-height: 35px;
}
footer ul {
    font-size: 14px;
    line-height: 32px;
}
.footer-bottom {
    margin-top: 40px;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}
.footer-bottom p {
    font-size: 12px;
}
}