html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF;
  font-family:"Inter",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

