.privacy-container {
  padding: 10px 2px;
  margin: 5 25;
  line-height: 1.75;
  font-size: 1.07rem;
  color: #1a1a1a;
}
.policy-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.policy-title .logo {
  width: 200px;
  object-fit: contain;
}

.privacy-container h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
  color: #000;
}
.privacy-container span{
  font-weight: 600;
}
.privacy-container .last-updated {
  font-size: 0.97rem;
  color: #6b6b6b;
  margin-bottom: 31px;
}

.privacy-container h2 {
  font-size: 1.18rem;
  margin-top: 22px;
  margin-bottom: 9px;
  color: #2e2e2e;
  font-weight: 600;
}

.privacy-container p {
  margin-bottom: 13px;
  color: #3b3b3b;
}

.privacy-container ul {
  padding-left: 24px;
  margin-bottom: 13px;
}

.privacy-container ul li {
  margin-bottom: 8px;
  color: #4a4a4a;
  list-style-type: disc;
}
.privacy-container strong {
  display: block;
  margin-top: 0.7em;
  margin-bottom: 0.4em;
  font-weight: 600;
  color: #1f1f1f;
}

.privacy-container a {
  color: #333;
  text-decoration: underline;
}

@media (max-width: 650px) {
  .privacy-container {
    font-size: 0.9rem;
    padding: 13px 5px;
  }
  .privacy-container h1 {
    font-size: 1.2rem;
  }
  .privacy-container h2 {
    font-size: 1.0rem;
  }
  .policy-title .logo {
    width: 125px;
  }
}
